<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.CityOrderMapper">
	<!-- 订单：陈旭超  -->
	<resultMap type="CityOrder" id="map">
	
		<result column="id" property="id"/>
		<result column="data" property="data"/>
		<result column="orderNumber" property="orderNumber"/>
		<result column="quantity" property="quantity"/>
		<result column="totalprice" property="totalprice"/>
		<result column="typeid" property="typeid"/>
		<result column="userid" property="userid"/>
		<result column="storeid" property="storeid"/>
		<result column="detailsid" property="detailsid"/>
		<result column="address" property="address"/>
		<result column="consignee" property="consignee"/>
		<result column="phone" property="phone"/>
		<result column="pay" property="pay"/>
		<result column="distribution" property="distribution"/>
		<result column="message" property="message"/>
		
		
		<association property="ordertype" javaType="CityOrdertype">
			<result column="ttype" property="type"/>
		</association>
		<association property="details" javaType="shop_details">
			<result column="iname" property="shopname"/>
			<result column="mon" property="money"/>
		</association>
		<association property="shops" javaType="shopsPojo">
			<result column="sname" property="shopname"/>
		</association>
	</resultMap>
	
	<!-- 查询 -->
	<select id="selList" resultMap="map">
		SELECT o.*,t.`type` ttype,i.`shopname` iname,s.`shopname` sname
		FROM `city_order` o
		INNER JOIN `city_ordertype` t ON t.`id` = o.`typeid`
		INNER JOIN `shop_details` i ON i.`id` = o.`detailsid`
		INNER JOIN `shops` s ON s.`id` = o.`shopsid`
		<where>
			<if test="uid!=0">
				AND o.userid = #{uid}
			</if>
			<if test="num!=null and num!=''">
				AND o.`orderNumber` LIKE CONCAT('%',#{num},'%')
			</if>
			<if test="tid!=0">
				AND o.`typeid` =#{tid}
			</if>
		</where>
		ORDER BY o.id DESC
		LIMIT #{index},#{size}
	</select>
	<select id="count" resultType="int">
		select count(*) from `city_order` o 
		WHERE o.`userid` = #{uid} 
		<if test="tid!=0">
			AND o.`typeid` = #{tid} 
		</if>
		<if test="num!=null and num!=''">
			AND o.`orderNumber` LIKE CONCAT('%',#{num},'%')
		</if>
	</select>
	
	<delete id="del">
		delete from city_order where id = #{id}
	</delete>
	
	
	<select id="seltype" resultType="CityOrdertype">
		select * from city_ordertype
	</select>
	
	<select id="seltypecount" resultType="int">
		select count(*) from city_order where typeid = #{tid} and userid = #{uid}
	</select>
	
</mapper>